name: Nightly-OnDemand Tests

on:
  workflow_dispatch:
    inputs:
      node_name:
        type: string
        default: ''
        description: 'PVC-7362,PVC-7363,PVC-7364,PVC-7365,PVC-7900,PVC-03004,PVC-03006'
      setup_xpu:
        type: string
        default: ''
        description: 'yes or not, not by default'

permissions: read-all

jobs:
  get-params:
    runs-on: ubuntu-24.04
    outputs:
      node_name: ${{ steps.params.outputs.node_name }}
    steps:
      - name: Get params
        id: params
        run: |
          set -xe
          node_node="$(echo ${{ inputs.node_name }} |sed 's/,/","/g;s/^/["/;s/$/"]/')"
          echo "node_name=${node_node}" >> ${GITHUB_OUTPUT}

  setup-xpu:
    if: ${{ inputs.setup_xpu == 'yes' && (! cancelled()) }}
    needs: get-params
    runs-on: ${{ matrix.node_name }}
    strategy:
      fail-fast: false
      matrix:
        node_name: ${{ fromJSON(needs.get-params.outputs.node_name) }}
    steps:
      - name: Checkout torch-xpu-ops
        uses: actions/checkout@v4
      - name: Install XPU
        run: |
          sudo bash -xe install_xpu.sh lts2

  check-nodes:
    runs-on: ${{ matrix.node_name }}
    if: ${{ ! (endsWith(needs.get-params.result, 'ed') && cancelled()) }}
    needs: [get-params, setup-xpu]
    strategy:
      fail-fast: false
      matrix:
        node_name: ${{ fromJSON(needs.get-params.outputs.node_name) }}
    steps:
      - name: Check env
        run: |
          sudo find ./ |grep -v "^\./$" |xargs sudo rm -rf
          clinfo --list
          id
          ip a
          uname -r
          dpkg -l |grep -iE 'intel-opencl-icd|libze|libigc|intel-igc'
          sudo apt update
          echo yes |sudo apt upgrade
          sudo apt autoremove -y
          uname -r
          dpkg -l |grep -iE 'intel-opencl-icd|libze|libigc|intel-igc'
          sudo reboot
