name: xpu-test

on:
  workflow_dispatch:
  pull_request:

permissions:
  id-token: write
  contents: read

concurrency:
  group: xpu_ci_test-${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    # Don't run on forked repos or empty test matrix
    # if: github.repository_owner == 'meta-pytorch'
    timeout-minutes: 120
    runs-on: pvc_rolling
    env:
      DOCKER_IMAGE: intelgpu/ubuntu-24.04-lts2:2523.40
    steps:
      - name: Checkout PyTorch
        uses: actions/checkout@v4
        with:
          repository: pytorch/pytorch
          ref: nightly
          path: pytorch
          fetch-depth: 1
          submodules: false
    
      - name: Checkout Torchcomms
        uses: actions/checkout@v4
        with:
          path: meta-pytorch/torchcomms

      - name: Clean all stopped docker containers
        if: always()
        shell: bash
        run: |
          # Prune all stopped containers.
          # If other runner is pruning on this node, will skip.
          nprune=$(ps -ef | grep -c "docker container prune")
          if [[ $nprune -eq 1 ]]; then
            docker container prune -f
          fi

      - name: Runner health check xpu-smi
        if: always()
        shell: bash
        run: |
          timeout 30 xpu-smi discovery || true
          xpu-smi topology -m

      - name: Runner health check GPU count
        if: always()
        shell: bash
        run: |
          ngpu=$(timeout 30 clinfo -l | grep -c -E 'Device' || true)
          msg="Please file an issue on meta-pytorch/torchcomms reporting the faulty runner. Include a link to the runner logs so the runner can be identified"
          if [[ $ngpu -eq 0 ]]; then
            echo "Error: Failed to detect any GPUs on the runner"
            echo "$msg"
            exit 1
          fi

      - name: Runner diskspace health check
        uses: pytorch/pytorch/.github/actions/diskspace-cleanup@main
        if: always()

      - name: Preserve github env variables for use in docker
        shell: bash
        run: |
          env | grep '^GITHUB' >> "/tmp/github_env_${GITHUB_RUN_ID}"
          env | grep '^CI' >> "/tmp/github_env_${GITHUB_RUN_ID}"

      - name: XPU set GPU_FLAG
        shell: bash
        run: |
          # Add render group for container creation.
          render_gid=`cat /etc/group | grep render | cut -d: -f3`
          echo "GPU_FLAG=--device=/dev/mem --device=/dev/dri --group-add video --group-add $render_gid" >> "${GITHUB_ENV}"

      - name: Get docker image
        # id: get-docker-image
        # working-directory: pytorch
        run: |
          docker pull ${{ env.DOCKER_IMAGE }}

      - name: Test
        id: test
        env:
          TEST_COMMAND: "wget -qO /tmp/intel-deep-learning-essentials.sh https://registrationcenter-download.intel.com/akdlm/IRC_NAS/9065c156-58ab-41b0-bbee-9b0e229ffca5/intel-deep-learning-essentials-2025.3.1.15_offline.sh && chmod +x /tmp/intel-deep-learning-essentials.sh && /tmp/intel-deep-learning-essentials.sh -a --silent --eula accept && rm -f /tmp/intel-deep-learning-essentials.sh"
          # DOCKER_IMAGE: ${{ steps.get-docker-image.outputs.docker-image }}
          DOCKER_IMAGE: ${{ env.DOCKER_IMAGE }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_WORKFLOW: ${{ github.workflow }}
          GITHUB_JOB: ${{ github.job }}
          GITHUB_RUN_ID: ${{ github.run_id }}
          GITHUB_RUN_NUMBER: ${{ github.run_number }}
          GITHUB_RUN_ATTEMPT: ${{ github.run_attempt }}
          SHA1: ${{ github.event.pull_request.head.sha || github.sha }}
        timeout-minutes: 120
        run: |
          set -x

          # detached container should get cleaned up by teardown_ec2_linux
          # Used for GPU_FLAG since that doesn't play nice
          # shellcheck disable=SC2086,SC2090
          container_name=$(docker run \
            ${GPU_FLAG:-} \
            -e PR_NUMBER \
            -e GITHUB_ACTIONS \
            -e GITHUB_REPOSITORY \
            -e GITHUB_WORKFLOW \
            -e GITHUB_JOB \
            -e GITHUB_RUN_ID \
            -e GITHUB_RUN_NUMBER \
            -e GITHUB_RUN_ATTEMPT \
            -e JOB_ID \
            -e BRANCH \
            -e SHA1 \
            --ulimit stack=10485760:83886080 \
            --ulimit core=0 \
            --security-opt seccomp=unconfined \
            --cap-add=SYS_PTRACE \
            --shm-size="8g" \
            --tty \
            --detach \
            --privileged \
            -v "${GITHUB_WORKSPACE}:/var/lib/jenkins/workspace" \
            -w /var/lib/jenkins/workspace \
            "${DOCKER_IMAGE}"
          )
          # save container name for later step
          echo "CONTAINER_NAME=${container_name}" >> "$GITHUB_ENV"
          # jenkins user does not have write permission to mounted workspace; work-around by copying within container to jenkins home
          docker exec -t "${container_name}" sh -c "bash -c \"${TEST_COMMAND}\""

      - name: Stop container before exit
        if: always()
        run: |
          # Workaround for multiple runners on same IDC node
          docker stop "${{ env.CONTAINER_NAME }}"

      - name: Teardown XPU
        if: always()
        shell: bash
        run: |
          # Prune all stopped containers.
          # If other runner is pruning on this node, will skip.
          nprune=$(ps -ef | grep -c "docker container prune")
          if [[ $nprune -eq 1 ]]; then
            docker container prune -f
          fi
      
      - name: Runner diskspace health check
        uses: pytorch/pytorch/.github/actions/diskspace-cleanup@main
        if: always()